.col_home {
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right: 30px !important;
    padding-top: 0px  !important;
    margin-top: 0px !important;

    .aside-content{
        border-right: 1px solid blue;
        min-height: 100vh;
        ul{
            list-style: none;
            width: 100%;
            margin-top: 5rem;
            padding-inline-start: 0px;
            padding-inline-end: 0px;
            li{
                display: flex;
                margin-left: 0px;
                border: 1px solid black;
                p{
                    padding-left: 15px;
                }
            }
        }
    }
}
.card-round{
    border-radius: 20px!important;
    /* box-shadow: 0px -2px 41px -4px rgba(0,0,0,0.92);
    -webkit-box-shadow: 0px -2px 41px -4px rgba(0,0,0,0.92);
    -moz-box-shadow: 0px -2px 41px -4px rgba(0,0,0,0.92); */
    box-shadow: -10px 0 15px -8px rgba(0, 0, 0, 0.767), 10px 0 15px -8px rgba(0, 0, 0, 0.767);
    
}

.changetored{
    background-color: red;
    color: white;
}
.changetogreen{
    background-color: green;
    color: white;
}
