@import '~bootstrap/scss/bootstrap';
.container {
    max-width: 80% !important;
}
.app-layout {
    min-height: 100vh;
    background-color: $gray-200;

}
.content-section-admin {
    min-height: 100vh;
    background-color: $gray-200;
}
.container{
    .row {
        .col{
            .btn_menu {
                width: 100%;
                height: 20rem;
                background-color: $gray-400;
                transition: 0.5s;
                font-size: 20px;
                &:hover {
                    background-color: $yellow;
                    color: black;
                    font-size: 40px;
                }
            }
        }
    }
}



.manutenzione {
    width: 100%;
    height: 100%;
    display: flex;
    .manutenzione-inside {
        h1 {
            padding: 20px;
        }
        p{
            padding: 20px;
        }
    }
}

#admin-nav {
    min-height: 100vh;
    min-width: 250px;
    max-width: 250px;
    background: #183d78;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
    display: flex;
    flex-direction: column;
    
    #custom-menu{
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 0;
        margin-right: -20px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        .btn-custom {
            color: #fff;
            background-color: #4596d2;
            width: 40px;
            height: 40px;
            border: 1px solid transparent;
            border-radius: 50%;
            transition: 0.3s;
            &:hover {
                background-color: #f4c543  ;
            }
        }
    }
    &.active{
        margin-left: -250px;
        .custom-menu{
              margin-right: -50px;
        }
    }
    .list-menu {
        ul {
            margin-top: 30px;
            list-style: none;
            li {
                font-size: 18px;
                margin-top: 15px ;
                margin-bottom: 15px;
                border-bottom: 1px solid #4596d2 ;
                margin-left: -30px;
                margin-right: 30px;
                transition: .3s;
                cursor: pointer;
                a {
                    margin-left: 15px;
                    padding: 15px 0px;
                    display: block;
                    line-height: 2.0;
                    color: #fff;
                    text-decoration: none;
                    transition: .3s;
                }

                
            }
            .active {
              border: 1px solid #fff;
              border-radius: 15px;
              &:hover {
                
                background-color: #f4c543;
                a {
                    color: #183d78;
                }
              }
            }
        }
    }
}
.content-section-admin {
  width: 100%;
}


// table style 

