@import '~bootstrap/scss/bootstrap';

.container{
    .row {
        .col{
            .btn_menu {
                width: 100%;
                height: 20rem;
                background-color: $gray-400;
                transition: 0.5s;
                font-size: 20px;
                &:hover {
                    background-color: $yellow;
                    color: black;
                    font-size: 40px;
                }
            }
        }
    }
}



.manutenzione {
    width: 100%;
    height: 100%;
    display: flex;
    .manutenzione-inside {
        h1 {
            padding: 20px;
        }
        p{
            padding: 20px;
        }
    }
}

#admin-nav {
    min-height: 100vh;
    min-width: 250px;
    max-width: 250px;
    background: #183d78;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
    display: flex;
    flex-direction: column;
    
    #custom-menu{
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 0;
        margin-right: -20px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        .btn-custom {
            color: #fff;
            background-color: #4596d2;
            width: 40px;
            height: 40px;
            border: 1px solid transparent;
            border-radius: 50%;
            transition: 0.3s;
            &:hover {
                background-color: #f4c543  ;
            }
        }
    }
    &.active{
        margin-left: -250px;
        .custom-menu{
              margin-right: -50px;
        }
    }
    .list-menu {
        ul {
            margin-top: 30px;
            list-style: none;
            li {
                font-size: 18px;
                margin-top: 15px ;
                margin-bottom: 15px;
                border-bottom: 1px solid #4596d2 ;
                margin-left: -30px;
                margin-right: 30px;
                transition: background-color  .3s;
                cursor: pointer;
                a {
                    padding: 15px 0px;
                    display: block;
                    line-height: 2.0;
                    color: #fff;
                    text-decoration: none;
                }
                
            }
        }
    }
}
.content-section-admin {
  width: 100%;
}


// table style 


$table-header:#183d78;
$table-header-border: #183d78;
$table-border: transparent;
$row-bg: #f4f2f1;

.table-container {
  display: block;
  margin: 2em auto;
  width: 100%;
  max-width: 600px;
}

.flag-icon {
  margin-right: 0.1em;
}
.header {
  margin-right: -15px;
  margin-left: -15px;
}
.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-left: solid 1px $table-border;
  transition: 0.5s;
  &:first-of-type {
    border-top: solid 1px $table-header-border;
    border-left: solid 1px $table-header-border;
  }
  &:first-of-type .flex-row {
    background: $table-header;
    color: white;
    border-color: $table-header-border;
  }
  &.row:nth-child(odd) .flex-row {
    background: $row-bg;
  }
  &:hover {
    background: #F5F5F5;
    transition: 500ms;
  }
}

.flex-row {
  width: calc(100% / 4);
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px $table-border;
  border-bottom: solid 1px $table-border;
}

.rowspan {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  padding: 0;
  .flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: solid 1px $table-border;
    &:hover {
      background: #F5F5F5;
      transition: 500ms;
    }
  }
}

.flex-cell {
  width: calc(100% / 3); //1px = border right
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px $table-border;
  //flex: 1 1 33.3%;
  &:last-child {
    // border-right: 0;
  }
}

@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 3); //1px = border right
    
   &.first {
     width: 100%;
   }
  }

  .column {
    width: 100%;
  }
}

@media all and (max-width: 430px) {
  
  .flex-table {
    .flex-row {
      border-bottom: 0;
    }
    .flex-row:last-of-type {
      border-bottom: solid 1px $table-border;
    }
  }
  
  .header {
    margin-right: -15px;
    margin-left: -15px;
    .flex-row {
      border-bottom: solid 1px;
    }
  }
  
  .flex-row {
    width: 100%; //1px = border right
    
   &.first {
     width: 100%;
     border-bottom: solid 1px $table-border;
   }
  }

  .column {
    width: 100%;
    .flex-row {
      border-bottom: solid 1px $table-border;
    }
  }

  .flex-cell {
    width: 100%; //1px = border right
  }
}