@import '~bootstrap/scss/bootstrap';

.container{
    .row {
        .col{
            .btn_menu {
                width: 100%;
                height: 20rem;
                background-color: $gray-400;
                transition: 0.5s;
                font-size: 20px;
                &:hover {
                    background-color: $yellow;
                    color: black;
                    font-size: 40px;
                }
            }
        }
    }
}



.manutenzione {
    width: 100%;
    height: 100%;
    display: flex;
    .manutenzione-inside {
        h1 {
            padding: 20px;
        }
        p{
            padding: 20px;
        }
    }
}